#Note - package hcl will interfere with pyhcl. If hcl is installed, remove it and reinstall pyhcl with the --force option
certifi==2024.8.30
charset-normalizer==3.4.0
h5py==3.12.1
idna==3.10
numpy==2.1.2
pandas==2.2.3
prompt_toolkit==3.0.48
pyhcl==0.4.5
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.31.0
setuptools==75.1.0
six==1.16.0
tqdm==4.64.0
tree-format==0.1.2
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
